<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
    <link rel="stylesheet" href="/CSS/Carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
<div class="MainCarrito">
        <div class="Encabezado"></div>
        <img src="/IMG/ImgLogo.png" class="ImgLogo"></img>
        <img src="/IMG/ImgLogo.png" class="ImgLogo1"></img>
        <input type="image" src="/static/IMG/BotonIMGPerfil.png" class="BotonIMGPerfil">
        <span class="TextProducto">Producto</span>
        <span class="TextPrecioPorUnidad">Precio por unidad</span>
        <span class="TextCantidad">Cantidad</span>
        <span class="TextSubtotal">Subtotal</span>
        <div class="Rectangulo1"></div>

        <div class="divListaProductos">
            <!--Contenedor Producto-->
            <div class="DivProductoCarrito">
                <img src="/IMG/ImgProducto.png" class="ImgProducto">
                <span class="NombreProducto">Brocoli</span>
                <span class="NroPrecioUnidad">$<span id="precio">2.00</span></span>
                <span class="NroCantidad" id="unidades">1</span>
                <span class="NroSubtotalUnidad">$ <span id="subtotal">2.00</span></span>
                <input type="image" src="/IMG/BotonImgEliminar.png" class="BotonImgEliminar">
                <input type="image" id="sacar" src="/IMG/ImgMenos.png" class="ImgMenos">
                <input type="image" id="agregar" src="/IMG/ImgMas.png" class="ImgMas">
                <div class="RectanguloProducto"></div>
            </div>

        <div class="DivTotal">
            <p class="TextSubtotal2">Subtotal</p>
            <p class="NroSubtotal">$ 2.00</p>
            <p class="TextTotal">Total</p>
            <p class="NroTotal">$ 2.00</p>
            <input type="image" src="/IMG/ImgComprar.png" class="ImgComprar">
        </div>

</div>
<script src="/static/JS/Carrito.js"></script>
</body>
</html>