<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/catalogoPrincipal.css">
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>

    <title>Catalogo Principal Productos</title>
</head>

<body>
    <!-- Encabezado -->
    <header class="divHeader">
        <!--<input type="text" placeholder="   Busqueda" class="BarraBusquedaInput"></input>
        <input type="image" src="/IMG/lupaImg.png" class="lupaImg" alt="">-->
        <a th:href="@{/carrito/mostrarProductos}"><img src="/IMG/carrito.png" class="carritoImgBoton" alt=""></a>
        <a th:href="@{/perfil}"><img src="/IMG/perfilImgBoton.png" class="perfilImgBoton" alt=""></a>
    </header>

    <main class="CatalogoPrincipal">

        <!-- Carrucel Imagenes -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/IMG/Frame1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/IMG/Frame2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/IMG/Frame3.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button> 
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> -->
        </div>


        <div th:each=" categoria : ${Categorias}">
            <!-- Categoria1 -->
            <div class="divCategoria">
                <span class="categoria1Text" th:text="${categoria.nombre}">

                </span>
            </div>
            <!-- Carrucel Items Productos -->
            <div class="divCarruselProductos1">
                <div class="carrusel__lista">

                    <!--th: forEch-->
                    
                        <div th:each=" producto : ${listaDeProductos}" class="divProductoLista1" th:if="${producto.categoria==categoria}">

                            <div class="rectanguloProductoCategoria1"></div>
                            <img th:src="${producto.img}" class="imagenProductoImg">
                            <div class="rectanguloProductoLista1"></div>

                            <span class="nombreProductoLista1Dato" th:text="${producto.nombre}"></span>

                            <span class="descripcionProductoLista1Dato" th:text="${producto.descripcion}"></span>

                            <span class="signoPesosText">
                                $
                            </span>

                            <span class="precioProductoLista1Dato" th:text="${producto.precio}"></span>
                            <a th:href="@{/carrito/cargar/__${producto.id}__}"><img src="/IMG/agregarProductoLista1Boton.png"
                                    class="agregarProductoLista1Boton"></a>
                            <!--th: forEch-->


                            <!--th: forEch-->
                            <!--th: forEch-->
                        </div>
                   <!-- <img type="image" src="/IMG/fechaIquierdaImg.png" class="carousel__anterior">

                    <img type="image" src="/IMG/fechaDerechaImg.png" class="carousel__siguiente">-->
                </div>
            </div>
        </div>
    </main>

    <footer class="divFooter">
        <span class="telefonoText">
            011-4698-1756
        </span>
        <span class="direccionText">
            Av. de Mayo 644
        </span>
        <span class="mailText">
            info @FullMonkey.com
        </span>

    </footer>

    <!--<script src="/JS/catalogoPrincipal.js"></script>-->
</body>

</html>