<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <title>CompraFinalizada</title>
    <link rel="stylesheet" href="/CSS/CompraFinalizada.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inder&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="header">
      <!-- th:href -->
      <a th:href="@{/}"><img src="/IMG/logoBoton.png" alt="" class="logoBoton" /></a>
      <!-- th:href -->

      <!-- th:href -->
      <a th:href="@{/perfil}">
        <img src="/IMG/perfilBoton.png" class="perfilBoton">
      </a>
      <!-- th:href -->
    </header>


    <span class="graciasPorTuCompraText"> ¡Gracias por tu compra! </span>

    <img src="/IMG/manoSaludoImg.png" class="monoSaludoImg" alt="" />

    <span class="nroOrdenText"> Numero de orden: </span>

    <!-- th:value -->
    <span class="nroOrdenDato"> 00000<span th:text="${compra.numerp_orden}"></span> </span>
    <!-- th:value -->

    <span class="fechaOrdenText"> Fecha de Orden: </span>

    <!-- th:value -->
    <span class="fechaOrdenDato" th:text="${compra.fecha_compra}"></span>
    <!-- th:value -->

    <div class="divDatos">
      <div class="divDestino">
        <span class="destinoDato"> Retiro en sucursal: </span>

        <!-- th:value -->
        <span class="direccionDato"> Direccion </span>
        <!-- th:value -->
      </div>

      <div class="divNombre">
        <span class="nombreCompradorText"> Nombre: </span>

        <!-- th:value -->
        <span class="nombreCompradorDato"> <span th:text="${perfil.nombre}"></span><span>  </span><span th:text="${perfil.apellido}"></span> </span>
        <!-- th:value -->
      </div>

      <div class="divDni">
        <span class="dniCompradorText"> DNI: </span>

        <!-- th:value -->
        <span class="dniCompradorDato" th:text="${perfil.dni}">  </span>
        <!-- th:value -->
      </div>

      <div class="divDomicilio">
        <span class="domicilioCompradorText"> Domicilio: </span>

        <!-- th:value -->
        <span class="domicilioCompradorDato" th:text="${perfil.domicilio}"></span>
        <!-- th:value -->
      </div>
      <div class="divMail">
        <span class="mailCompradorText"> Mail: </span>

        <!-- th:value -->
        <span class="mailCompradorDato" th:text="${perfil.email}"> cicherofacundo@gmail.com </span>
        <!-- th:value -->
      </div>
    </div>

    <!-- th:href -->
    <a th:href="@{/compra/info/__${compra.id}__}" class="verDetalleDelPedidoBoton">Ver detalles del pedido</a>
    <!-- th:href -->
  </body>
</html>
