<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>DetallesPreCompra</title>
	<link rel="stylesheet" href="/CSS/DetallesPreCompra.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

</head>


<body>

	<form method="post" th:action="@{/compra/crearCompra}" modelAttribute="compra">



		<div class="Encabezado"></div>

		<!-- th:href -->
		<a th:href="@{/producto/listaDeProductos}">
			<img src="/IMG/ImgLogo.png" class="ImgLogo">
		</a>
		<!-- th:href -->

		<!-- th:href -->
		<a th:href="@{/perfil}">
			<img src="/IMG/BotonIMGPerfil.png" class="BotonIMGPerfil">
		</a>
		<!-- th:href -->

		<span class="detallesDelPagoText">Detalles del pago</span>

		<div class="cajaMetodoDePago">

			<!-- th:value -->
			<div th:if="${tarjeta != null}">
				<img src="/IMG/tarjetaiconobyn.png" class="mastercarLogoImg">
				<!-- th:value -->
				<!-- th:value -->
				<!-- th:value -->
				<!-- th:value -->
				<span class="nroBancoDato">**** **** **** ****<!--<span th:text="${tarjeta.numfinal}"></span>--></span>
				<!-- th:value -->

				<!-- th:value -->
				<input type="hidden" name="idmetodopago" th:value="${tarjeta.id}">
			</div>
			<a th:href="@{/tarjeta}" class="modificarPagoText">Modificar</a>
		</div>

		<span class="detallesDelEnvioText">Envio a domicilio</span>

		<div class="cajaEnviosDetalle">

			<input type="radio" class="checkBoxEnvio" name="envio" id="checkEnvio" checked></input>

			<!-- th:value -->
			<span class=" direccionEnvioText" th:text="${perfil.domicilio}"></span>
			<!-- th:value -->

			<!-- th:value -->
			<!--<span class="direccionCompletaClienteText" th:text="${perfil.domicilio}"></span>-->
			<!-- th:value -->

			<!-- th:value -->
			<span class="telefonoClienteText" th:text="${perfil.email}"></span>
			<!-- th:value -->

			<!-- th:href -->
			<a th:href="@{/perfil/modificar}" class="modificarEnvioText">Modificar</a>
			<!-- th:heref -->

		</div>

		<span class="retiroEnSucursalText">Retiro en sucursal</span>

		<div class="cajaSucursalRetiro">

			<input type="radio" class="checkBoxSucursal" id="checkSucursal"></input>
			<span class="calleSucursalText">25 Mayo 1234</span>
			<span class="direccionCompletaSucursalText">C.P 1234 - CABA, Buenos Aires</span>

		</div>

		<div class="cajaConfirmarCompra">

			<div class="cajaDetalleCompra">
				
					<span class="productoText">Producto</span>
					<span class="SignoNroProducto">$</span>
					<!-- th:heref -->
					<span class="nroProductoDato" th:text="${carro.precio_total}"></span>
					<!-- th:heref -->
				

					<!-- Sobtotal detalle -->
					<span class="envioText">Envio</span>
					<!-- Sobtotal detalle -->

					<!-- th:value -->
					<span class="nroEnvioDato" id="envioPrecio">2</span>
					<!-- th:value -->
					<span class="SignoNroEnvioText">$</span>


					<!-- Envio detalle -->
					<span class="SubtotalText">Subtotal</span>
					<!-- Envio detalle -->

					<!-- th:value -->
					<span class="nroSubtotalDato" th:text="${carro.precio_total}"></span>
					<!-- th:value -->
					<span class="SignoNroSubtotalText">$</span>

					<div class="rectanguloDetalleProducto"></div>

					<span class="totalText">Total</span>
					<!-- th:value -->
					<span class="nroTotalDato" th:text="${carro.precio_total}"></span>
					<!-- th:value -->
					<span class="SignoNroTotalText">$</span>
				</div>
			<input type="hidden" name="carro" th:value="${carro.id}">
			<img src="/IMG/pulgarManoImg.png" class="pulgarManoImg">

			<button type="submit" class="confirmarCompraBoton">Confirmar Compra</button>

			<!--<a class="confirmarCompraBoton" th:href="@{/compra/crearCompra}">Confirmar compra</a>-->
			
			
		</div>
		
	</form>
	<script src="/JS/script.js" type="text/javascript"></script>
</body>


</script>

</html>