<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>DetallesPreCompra</title>
    <link rel="stylesheet" href="/CSS/DetallesPreCompra.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

</head>


<body>
<div class="Encabezado"></div>
<img src="/IMG/ImgLogo.png" class="ImgLogo">
<input type="image" src="img/BotonIMGPerfil.png" class="BotonIMGPerfil">
<span class="detallesDelPagoText">
  Detalles del pago
</span>

<div class="cajaMetodoDePago">

    <img src="/IMG/mastercarLogoImg.png" class="mastercarLogoImg">
    <span class="bancoYnroText">BBVA **** 1234</span>
    <span class="cuotasText">Pagas 1x $20</span>
    <input type="button" class="modificarPagoText" value="Modificar">
</div>

<span class="detallesDelEnvioText">Detalles del Envio</span>

<div class="cajaEnviosDetalle">

    <input type="checkbox" class="checkBoxEnvio"></input>
    <span class="direccionEnvioText">9 Julio 1234</span>
    <span class="direccionCompletaClienteText">C.P 1234 - CABA, Buenos AIres Esteban Quito - 1112345678</span>
    <input type="button" class="modificarEnvioText" value="Modificar">

</div>

<span class="retiroEnSucursalText">Retiro en sucursal</span>

<div class="cajaSucursalRetiro">

    <input type="checkbox" class="checkBoxSucursal"></input>
    <span class="calleSucursalText">25 Mayo 1234</span>
    <span class="direccionCompletaSucursalText">C.P 1234 - CABA, Buenos Aires</span>

</div>

<div class="cajaConfirmarCompra">

    <div class="cajaDetalleCompra">

        <span class="productoText">Producto</span>
        <span class="nroProductoText">$20</span>
        <span class="envioText">Envio</span>
        <span class="nroEnvioText">$2</span>
        <span class="SubtotalText">Subtotal</span>
        <span class="nroSubtotalText">$22</span>
        <div class="rectanguloDetalleProducto"></div>
        <span class="totalText">Total</span>
        <span class="nroTotalText">$22</span>
    </div>

    <img src="/IMG/pulgarManoImg.png" class="pulgarManoImg">


    <a class="confirmarCompraBoton" >Confirmar compra</a>


</div>

</body>


</html>