<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styleshiscompra.css">

    <title>Historial de compras</title>
</head>
<body>
    <header>
        <div class="Encabezado"></div>

    </header>
    <main>
        <!-- primera fila descripcion-->
        <div class="campos">
            <span class="fotProducto">Nro de órden</span>
            <span class="TextNombre">Fecha</span>
            <span class="TextStock">Total</span>
            <span class="TextCategoria">Detalle</span>
        </div>
        <div class="Encabezado1"></div>
        <!-- Productos -->
        <div th:each="compra : ${productos}">
            <div class="DivProductoCarrito">

                <span class="nombreProducto">
                    00000<span th:text="${compra.numerp_orden}"></span>
                </span>
                <span class="NroPrecioUnidad" th:text="${compra.fecha_compra}">
                </span>
                <span class="NroSubtotalUnidad" th:text="${compra.precio_final}">
                </span>

                <a th:href="@{/compra/__${compra.id}__}"><img src="/IMG/boton_detalle.svg" alt="" class="boton-detalle"></a>

                <!-- Barra gris -->
                <div class="Encabezado2"></div>
            </div>
        </div>

    </main>


</body>

</html>
