<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>InicioSesion</title>
	<link rel="stylesheet" href="InicioSesion.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>


<body>
	<img class="fondoImg" src="Images/fondoImg.png">
	<div class="BannerSuperrior">

		<div class="rectanguloSuperior"></div>
		<img src="Images/manoMonoImg.png" class=manoMonoImg>


		<a href=""><input type="image" src="Images/botonCatalogo.png" class="botonCatalogo"></input></a>
	</div>


	<div class="IngresarDatos">

		<div class="inicioSesionRectangulo"></div>
		<img src="Images/logoFullMonkeyImg.png" class="logoFullMonkeyImg">

		<a href="#" class="olvidadoContraseniaText">¿Has olvidado la contraseña?
		</a>


		<div class="crearCuentaRectangulo"></div>
		<!--<img src="Images/palmeraImg.png" class="palmeraImg">-->

		<!-- th: action -->
		<form action="">
			<label for="usuario" class="usuarioText">
				Usuario
			</label>
			<input type="text" id="usuario" class="usuarioInput"></input>
			<label for="pass" class="contraceniaText">
				Contraseña
			</label>
			<input type="password" id="pass" class="contraceniaInput"></input>
			<button type="submit" class="accederBoton">
				Acceder </button>

			<!-- <input type="submit" ></input>
					<span class="accederText">
						Acceder
					</span> -->
		</form>
		<!-- th: action -->

		<a href="#" type="button" class="crearCuentaText" onclick="">¿Eres nuevo? Crea tu cuenta</a>
	</div>





</body>

</html>