<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/normalizemodif.css">
    <link rel="stylesheet" href="/CSS/estilosmodif.css">
    <title>Registro</title>
</head>
<body>
    <header class="header">
        <div class="botonCatalogo">
            <img src="/IMG/manoMono.png" alt="">
            <a href="">                
                <img src="/IMG/botonCatalogo.png" alt="">
            </a>
        </div>
    </header>
    <section class="section" >
        <div class="formulario"  id="contenedorForm">
            <h1>Modificar Perfil</h1>
            <form action="@{/modificar/__${perfil.id}__}" th:object="${Perfil}" method="post" id="FormularioPerfil">
                <div class="input-file">
                    <input type="file" id="file" class="input-file-input">
                    <label for="file" class="input-file__btn">
                        <img src="/IMG/camera.png" alt="">
                        Cargar Foto De Perfil
                    </label>
                </div>

                <div class="input-text">  

                    <label for="username">Usuario</label>
                    <input type="text" name="username" id="username" th:field="*{username}">

                    <label for="email">E-Mail</label>
                    <input type="text" name="email" id="email" th:field="*{email}">

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" th:field="*{password}">

                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" th:field="*{nombre}">

                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" th:field="*{apellido}">
                    
                    <label for="dni">DNI</label>
                    <input type="text" name="dni" id="dni" th:field="*{dni}">

                    <label for="nacimiento">Fecha de Nacimiento</label>
                    <input type="date" name="nacimiento" id="nacimiento" th:field="*{nacimiento}">

                    <label for="domicilio">Domicilio</label>
                    <input type="text" name="domicilio" id="domicilio" th:field="*{domicilio}">

                    <button  type="submit" id="btnCrearCuenta"><img class="iconoCrearUsuario" src="/IMG/iconoModificarPerfil.png" alt="/modificar/{id}">Guardar Cambios</button>

                </div>          
            </form>
        </div>
    </section>

</body>
</html>