
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="/CSS/estilos.css">
    <title>Registro</title>
</head>
<body>
    <header class="header">
        <div class="botonCatalogo">
            <img src="/IMG/manoMono.png" alt="">
            <a th:href="@{/catalogo}">                
                <img src="/IMG/botonCatalogo.png" alt="">
            </a>
        </div>
    </header>
    <section class="section">
        <div class="formulario">
            <h1>Registro</h1>
            <form th:action="@{/registro}" method="POST">
                <div class="input-file">
                    <input type="file" id="file" class="input-file-input">
                    <label for="file" class="input-file__btn">
                        <img src="/IMG/camera.png" alt="">
                        Cargar Foto De Perfil
                    </label>
                </div>

                <div class="input-text">  
                    <label for="">Usuario</label>
                    <input name="username" type="text">

                    <label for="">E-Mail</label>
                    <input name="email" type="text">

                    <label for="">Password</label>
                    <input name="password" type="password">

                    <label for="">Nombre</label>
                    <input name="nombre" type="text">

                    <label for="">Apellido</label>
                    <input name="apellido" type="text">
                    
                    <label for="">DNI</label>
                    <input name="dni" type="text">

                    <label for="">Fecha de Nacimiento</label>
                    <input name="nacimiento" type="date">

                    <label for="">Domicilio</label>
                    <input name="domicilio" type="text">

                    <label for="">¿Nombre de tu Primer Mascota?</label>
                    <input name="pregunta" type="text">

                    <button id="btnCrearCuenta" type="submit"><img class="iconoCrearUsuario" src="/IMG/IconoCrearUsuario.png" alt="">Crear Cuenta</button>

                    <!--<div class="input-button"> 
                        <input id="btnCrearCuenta" type="submit" value="Crear Cuenta">
                        <svg src="img/IconoCrearUsuario.svg"></svg>
                    </div>   -->

                </div>          
            </form>
        </div>

        <div class="texto">
            <p class="texto1">Te invitamos a disfrutar de los mejores precios!!</p>
            <p class="texto2">REGISTRATE AHORA!!</p>
        </div>
    </section>

</body>
</html>