<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/normalizeperfil.css">
    <link rel="stylesheet" href="/CSS/estilosperfil.css">
    <title>Ver Perfil</title>
</head>
<body>
    <header class="header">
        <a  class="botonHistorial"th:href="@{/compra/historial}">
            Ver Historial de Compras
            <img src="/IMG/boton_detalle.svg" alt="Icono Historial">
        </a>
    </header>
    <main class="section">
        <div class="contenedor">
            <div class="encabezado">
                <a class="botonAtras" th:href="@{/}"><img class="flecha" src="/IMG/flecha.png" alt="">Volver a la Tienda</a>
                <div class="textoEncabezado">
                    <h2>¡HOLA USUARIO!</h2>
                    <p>Bienvenido a tu cuenta, aqui podras ver todos los datos necesarios para comprar en FULL MONKEY</p>
                </div>
            </div>
            
            <div class="cuadro">
                <div class="titulo">
                    <p>Datos Personales</p>
                </div>
                <div class="datos">
                    <div class="text1">
                        <p>Usuario</p>
                        <p class="par" th:text="${perfil.username}">usuario</p>
                        
                        <p>Nombre<p>
                        <p class="par" th:text="${perfil.perfil.nombre}">nombre</p>

                        <p>Apellido</p>
                        <p class="par" th:text="${perfil.perfil.apellido}">apellido</p>                       

                        <p>DNI<p>
                        <p class="par" th:text="${perfil.perfil.dni}"></p>
                        
                    </div>

                    <div class="imagenPerfil">
                        <img src="/IMG/perfil.jpg" alt="Foto de Perfil">
                    </div>

                    <div class="text2">
                        <p >E-Mail</p>
                        <p class="par" th:text="${perfil.perfil.email}">email</p>

                        <p>Fecha de Nacimiento</p>
                        <p class="par" th:text="${perfil.perfil.nacimiento}">11/5/2000</p>

                        <p>Domicilio</p>
                        <p class="par" th:text="${perfil.perfil.domicilio}">Domicilio</p>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
</html>